<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.dao.RoleDao">



    <delete id="delRoleMenu" parameterType="java.lang.Integer">
        delete from role_menu where rid=#{rid}
    </delete>

    <insert id="saveRoleMenu" parameterType="java.util.List">
         insert into role_menu (rid,mid) values
         <foreach collection="rmli" item="rm" separator=",">
             (#{rm.rid},#{rm.mid})
         </foreach>
    </insert>
</mapper>
