<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.dao.TypeDataDao">
    <select id="getData" resultType="com.fh.model.po.TypeData" parameterType="java.lang.Integer">
        select * from shop_type where isDel=0
            <if test="pid != null">
              and   pid=#{pid}
            </if>

    </select>

    <insert id="addTypeData" useGeneratedKeys="true" keyProperty="id" keyColumn="id"  parameterType="com.fh.model.po.TypeData">
        insert into shop_type (name,pid,createDate,updateDate,isDel,operator)
        values (#{name},#{pid},#{createDate},#{updateDate},#{isDel},#{operator})
    </insert>

    <update id="updateTypeData" parameterType="com.fh.model.po.TypeData">
        update shop_type set updateDate =sysdate()
        <if test="pid !=null">
            ,pid=#{pid}
        </if>
        <if test="name !=null and name !=''">
           ,name=#{name}
        </if>
        <if test="isDel !=null">
           ,isDel=#{isDel}
        </if>
         where id=#{id}
    </update>

</mapper>
